{% extends 'base.html.twig' %}

{% block title %}Tableau de bord RH{% endblock %}

{% block body %}
<h1>Tableau de bord RH</h1>

<table>
    <thead>
        <tr>
            <th>Titre</th>
            <th>Date de publication</th>
            <th>Nombre de candidatures</th>
            <th>Statut</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for offre in offres %}
        <tr>
            <td>
                <a href="{{ path('admin_candidatures', { id: offre.id }) }}">
                    {{ offre.titre }}
                </a>
            </td>
            <td>{{ offre.datePublication|date('d/m/Y') }}</td>
            <td>{{ offre.candidatures|length }}</td>
            <td>{{ offre.statut }}</td>
            <td>
                <a href="{{ path('admin_candidatures', { id: offre.id }) }}">Voir</a> |
                <a href="{{ path('admin_offre_publier', { id: offre.id }) }}">Publier</a> |
                <a href="{{ path('admin_offre_cloturer', { id: offre.id }) }}">Clôturer</a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="5">Aucune offre disponible.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
