{% extends 'base.html.twig' %}

{% block title %}Offres d'emploi{% endblock %}

{% block body %}
    <h1>Offres d'emploi</h1>

    <div class="offres">
        {% for offre in offres %}
            <div class="offre">
                <h2>{{ offre.titre }}</h2>
                <p><strong>Entreprise :</strong> {{ offre.entreprise }}</p>
                <p><strong>Lieu :</strong> {{ offre.lieu }}</p>
                <p><strong>Type de contrat :</strong> {{ offre.typeContrat }}</p>
                <p>{{ offre.description|truncate(200, true, '...') }}</p> {# Affiche une partie de la description #}
                <a href="{{ path('app_offre_show', {'id': offre.id}) }}" class="btn btn-primary">Voir détail</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
